extends ./../layouts/main-layout.pug

block content    
    include ./../layouts/mixin/underDevelopmentPage
    //- if 
    +underDevelopmentPage()

block scripts
    script(src="/js/underDevelopmentPage/UnderDevelopmentPageController.js")