extends ./../layouts/main-layout.pug

block content

    .functionTabsContainer
      .btn-group(role="group" aria-label="Basic example")
        button.btn(type="button" data-target='detail') Detail
        button.btn(type="button" data-target='password') Password
        button.btn(type="button" data-target='deleteMyAccount') Other

        <div class="btn-group" role="group">
          <button id="btnGroupDrop1" class="btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Dropdown            
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">Dropdown link</a>
            <a class="dropdown-item" href="#">Dropdown link</a>
          </div>
        </div>


    .functionsContainer

        .function_item.functionsItem_detail.row

            .userImageContainer
                .userCoverImgBackground
                    img.coverImg(src= `${userLoggedIn.coverPhoto}`)
                .userImageLowerBlank
                    .userProfileImageBackground
                        img.profileImg(src= `${userLoggedIn.profilePic}`)
                

            //- https://getbootstrap.com/docs/4.0/components/forms/#horizontal-form
            form
                .form-group.row
                    label.col-sm-2.col-form-label(for='myEmail') Email
                    .col-sm-10
                      input#myEmail.form-control.no-border(type='email' placeholder='Email')

                .form-group.row
                    label.col-sm-2.col-form-label(for='myUserName') Email
                    .col-sm-10
                      input#myUserName.form-control.no-border(type='email' placeholder='Email' disabled)


                .form-group.row
                  label.col-sm-2.col-form-label(for='inputPassword3') Password
                  .col-sm-10
                    input#inputPassword3.form-control.no-border(type='password' placeholder='Password')

                //- ↓↓↓ Save it for later

                //- fieldset.form-group
                //-   .row
                //-     legend.col-form-label.col-sm-2.pt-0 Radios
                //-     .col-sm-10
                //-       .form-check
                //-         input#gridRadios1.form-check-input(type='radio' name='gridRadios' value='option1' checked='')
                //-         label.form-check-label(for='gridRadios1')
                //-           | First radio
                //-       .form-check
                //-         input#gridRadios2.form-check-input(type='radio' name='gridRadios' value='option2')
                //-         label.form-check-label(for='gridRadios2')
                //-           | Second radio
                //-       .form-check.disabled
                //-         input#gridRadios3.form-check-input(type='radio' name='gridRadios' value='option3' disabled='')
                //-         label.form-check-label(for='gridRadios3')
                //-           | Third disabled radio
              
                //- .form-group.row
                //-   .col-sm-2 Checkbox
                //-   .col-sm-10
                //-     .form-check
                //-       input#gridCheck1.form-check-input(type='checkbox')
                //-       label.form-check-label(for='gridCheck1')
                //-         | Example checkbox

                .form-group.row
                  .col-sm-10
                    button.btn.btn-primary.submitUpdatedMeInfo(type='submit') Update


        .function_item.functionsItem_password.col-lg-8.col-md-10.col
            p Password

        .function_item.functionsItem_deleteMyAccount.col-lg-8.col-md-10.col
            p Delete


//- block scripts
//-     script(src="/js/profile.js")