mixin disclaimerContent()
  .disclaimerContainer
    h2.highlighted(style='width: fit-content; margin: auto;') Disclaimer 
    h4.mt-4 This site is for  
    p.emphasized learning and demo purpose ony!
    p
      u.underline Do not mistake this for the real Twitter site
    p and check out the links below to get more detail
    .links
      a.link.gitRepo(href='https://github.com/avgsteve' target="_blank" rel="noopener" title="project repo")
        img(src='https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png')

      a.link.gitRepo(href='https://steveleng.me' target="_blank" rel="noopener" title="My profile site")
        img(src='https://my-profile-site-storage.sgp1.cdn.digitaloceanspaces.com/img/site-logo/Logo-SL.png')        

      a.link.gitRepo(href='https://www.udemy.com/course/create-a-twitter-clone-with-nodejs-socketio-and-mongodb/' target="_blank" rel="noopener" title="Udemy course")
        img(src='https://cdn.worldvectorlogo.com/logos/udemy-1.svg')


      //- a.link.udemy(href='https://www.udemy.com/course/create-a-twitter-clone-with-nodejs-socketio-and-mongodb/' target="_blank" rel="noopener" title="Udemy course")