
mixin createReplyModal(userLoggedIn)
    //- https://getbootstrap.com/docs/4.0/components/modal/#modal-components
    //- replyModal is triggered by click button event
    #replyModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content

                .modal-header
                    //- 
                    h5#replyModalLabel.modal-title Reply
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;

                .modal-body
                    //- 
                    #originalPostContainer.used-to-show-original-post.disable-click-on-original-post.todo
                    .postFormContainer
                        .profileImageContainer
                            img(src=userLoggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="What's happening?")

                .modal-footer
                    //- 
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply

mixin createDeletePostModal()

    #deletePostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    //- p You won't be able to delete this.
                    p Please confirm you want to DELETE this post?.

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button#confirmDeleteInPostModal.btn.btn-primary(type='button') Delete


mixin createPinnedPostModal()
    //- click event: public/js/post//postController -> _pinPostEvent
    #confirmPinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='confirmPinModalLabel', aria-hidden='true')

        .modal-dialog(role='document')
            .modal-content

                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin this post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p This post will appear at the top of your profile. You can only pin one post.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#pinPostButton.btn.btn-primary(type='button') Pin


mixin createUnpinPostModal()
    //- click event: public/js/post//postController -> _unpinPostEvent
    #confirmUnpinModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='unpinModalLabel', aria-hidden='true')
        .modal-dialog(role='document')

            .modal-content
                .modal-header
                    h5#unpinModalLabel.modal-title Unpin the post?
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body
                    p This post will be unpinned.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#unpinPostButton.btn.btn-primary(type='button') Yes

mixin addImageToPostModal
    //- click event: public/js/post//postController -> _unpinPostEvent
    #addImageToPostModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addImageToPostModalLabel', aria-hidden='true')
        .modal-dialog(role='document')

            .modal-content
                .modal-header
                    h5#addImageToPostModalLabel.modal-title Add Photo To Post
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body

                    //- input#postPhoto(type="file", name="photoFile")
                    form.postModal_photoLink
                        .form-group 
                            .postModal_photoLinkBtns
                                label(for="postPhotoLink") Enter a link to photo
                                .btnContainer
                                    button.btn.btn-outline-secondary.urlBtn.clear Clear link 
                                    button.btn.btn-outline-secondary.urlBtn.paste Paste link
                            input#postPhotoLink.form-control(type="text" placeholder="Enter file link")

                        .form-group
                            .postModal_photoLinkBtns
                                label(for="postPhotoTitle") Optional: Photo title
                            input#postPhotoTitle.form-control(type="text" placeholder="Title" value="")
      
                    .postImagePreviewContainer
                        img.postPhotoPreview

                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                    button#addPhotoLinkToPostBtn.btn.btn-primary(type='button') Done

