extends ../layouts/login-layout.pug

block content
    .pagePreloader
    .row.resetPassword
        .resetPasswordContainer.col-lg-5.col-md-6.col-sm-8
            h1 Forgot Password ?            
            p.errorMessage #{errorMessage}
            p.successMessage

            form.resetPasswordForm(method="post")

                h4 Please Enter Mail For Receiving Reset Token
                input#emailForResetPwd.form-control(type="email", name="emailForResetPwd", placeholder="Email", value="" required="" autocomplete="password")                

                #captcha(name="activationCode", placeholder="Enter captcha code", value="" required autocomplete="current-password") Captcha

                input#captchaInput.form-control(type="text", name="captchaInput", placeholder="Enter Captcha here", value="" required autocomplete="no") 

                button.reqResetPasswordTokenBtn.btn.btn-primary(type="submit", value="") Submit
            //- span.bouncingNotice.bouncing &nbsp; *

block scriptsInPage
    script(src='/js/user/auth/resetPasswordPage.js')
