extends ../layouts/login-layout.pug

block content
    .loginContainer
        h1 Register
            span.bouncingNotice.bouncing(data-toggle="tooltip" data-placement="top" title="You can DELETE your account after registered ANY TIME!") *
   
            //- form#registerForm(method="post", onsubmit="event.preventDefault(); getRegisterData();")
            p#errorMessage.errorMessage #{errorMessage}
            p.successMessage

            <!-- Form-->
            <form id="registerForm" class="needs-validation" method="post", onsubmit="event.preventDefault()">

                <div class="form-row">
                    <div class="col-md-6 ">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control nameFields1" id="firstName" value="" required autocomplete="firstname"/>
                    </div>

                    <div class="col-md-6 ">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control nameFields2" id="lastName" value="" required autocomplete="lastname" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-6 ">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required autocomplete="username" />
                    </div>
                    <div class="col-md-6 ">
                        <label for="userName">User name</label>
                        <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" required autocomplete="email" />
                    </div>
                </div>


                <div class="form-row">
                    <div class="col-md-6 ">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control passwordFields" aria-describedby="passwordHelpBlock" placeholder="type password" required autocomplete="password" />
                    </div>
                    <div class="col-md-6 ">
                        <label for="passwordConf">Confirm Password</label>
                        <input type="password" class="form-control passwordFields" id="passwordConf" placeholder="type password again" required autocomplete="password" />
                    </div>
                </div>

                button#registerBtn(type="submit", value="") Register
                button.clearRegisterInput(type="submit" title='清除所有欄位' value="" onclick="event.preventDefault();") Clear all fields

            </form>

        a(href="/login") Already have an account? Login here.
    
    script.
        let passwordField = document.getElementById("password")
        let passwordConfirmField = document.getElementById("passwordConf")
        let form = document.getElementById("registerForm")


        function validateForm() {
            if(passwordField.value != passwordConfirmField.value) {
                alert("Passwords do not match. Please try again.")
            }
            else {
                form.submit();
            }
        }