extends ../layouts/login-layout.pug

block content
    .loginContainer
        h1 Resend activation code
        form(method="post")

            p.errorMessage #{errorMessage}
            p.successMessage

            input#loginAccount(type="text", name="logUsername", placeholder="Username or email", value="" required="" autocomplete="username")           

            button#resendActivationBtn.resendActivationBtn(type="submit", value="Login") Submit
            a.mt-3(href="/activateAccount") Back to activation page

block scriptsInPage
    script(src='/js/user/auth/accountActivationPage.js')
