extends ../layouts/login-layout.pug

block content
    .loginContainer
        h3 Reset Token has been sent!
        br
        h4 Please check your e-mail for the link
        a.mt-3(href="/") Home

