extends ../layouts/login-layout.pug

block content
    .pagePreloader
    .row.resetPassword
        .resetPasswordContainer.col-lg-5.col-md-6.col-sm-8
            h1 Reset Password            
            p.errorMessage #{errorMessage}
            p.successMessage

            form.resetPasswordForm(method="post")

                input#newPassword.form-control(type="password", name="userName", placeholder="New Password", value="" required="" autocomplete="password")
                
                input#confirmPassword.form-control(type="password", name="activationCode", placeholder="Confirm New Password", value="" required="" autocomplete="password") 

                #captcha(name="activationCode", placeholder="Enter captcha code", value="" required autocomplete="current-password") Captcha

                input#captchaInput.form-control(type="text", name="captchaInput", placeholder="Enter Captcha here", value="" required autocomplete="no") 

                button#setNewPassword.resetPasswordBtn.btn.btn-primary(type="submit", value="") Submit
                //- span.bouncingNotice.bouncing &nbsp; *

                a(href='/forgotPassword' style="color:#d2e8ff") You can request a new token if it's expired       

block scriptsInPage
    script(src='/js/user/auth/resetPasswordPage.js')
